<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">safety check</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
	<div class="card-body">
		<button id="button-addon1" class="btn btn-primary" type="button">안전점검등록</button>
		<div class="table-responsive">
			<table class="table" >
				<thead>
					<tr>
						<th>안전점검코드</th>
						<th>창고정보코드</th>
						<th>화재안전점검내용</th>
						<th>물류안전점검내용</th>
						<th>주요설비 및 장비 물류안전점검내용</th>
						<th>등록담당자</th>
						<th>등록일</th>
						<th>이상사유</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>test</td>
						<td>test</td>
						<td>test</td>
						<td>test</td>
						<td>test</td>
						<td>test</td>
						<td>test</td>
						<td>test</td>
						<td><a href="#">수정</a></td>
						<td><a href="#">삭제</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
				<!-- Main container end -->

</th:block>
		
</html>